<template>
  <div>
    <v-card outlined class="pa-5" style="border-width:2px; border-color:black">
      <v-card-title class="ml-2">
        Scan to join the {{ teamName }} team!
      </v-card-title>
      <v-card-text class="d-flex justify-center">
        <div>
          <qrcode-vue :value="value" :size="size" level="H"></qrcode-vue>
        </div>
      </v-card-text>
      <v-card-actions class="d-flex justify-center">
        <v-btn @click="$nuxt.$router.replace({ path: '/' })">
          Go to main page
        </v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>

<style></style>
<script>
import QrcodeVue from 'qrcode.vue';
export default {
  layout: 'qr',
  components: {
    QrcodeVue
  },
  data() {
    return {
      value: `http://localhost:3000/invite/${this.$route.params.id}`,
      size: 300,
      teamName: '_TeamName_'
    };
  },
  mounted() {
    this.$axios
      .get('/team_name_by_hash', {
        params: { hash: this.$route.fullPath.substr(14) }
      })
      .then((res) => {
        this.teamName = res.data.LobbyName;
      });
    console.log(this.$route.fullPath.substr(14));
  }
};
</script>
