<template>
  <div>
    <v-dialog
      v-model="creatingStudent"
      persistent
      max-width="300px"
      max-height="500px"
      ><!--creating_student!-->
      <v-card>
        <v-card-title>
          Creating {{ createdStudentName }}
          <v-text-field v-model="createdStudentName"></v-text-field>
          <v-text-field v-model="createdStudentTeam"></v-text-field>
          <v-hover v-slot:default="{ hover }">
            <v-avatar
              :color="colorColor"
              size="40"
              style="cursor:pointer;"
              @click="colorPicker = !colorPicker"
            >
              <v-expand-transition>
                <div
                  v-if="hover"
                  class="d-flex transition-fast-in-fast-out grey darken-4 display-3 white--text"
                  style="height: 100%; width: 100%; opacity:70%"
                >
                  <v-icon>mdi-palette-advanced</v-icon>
                </div>
              </v-expand-transition>
            </v-avatar>
          </v-hover>
        </v-card-title>
        <v-card-actions>
          <v-btn
            :color="cancelColor"
            @click="
              colorColor = '#F44336';
              $emit('close');
            "
            >Cancel</v-btn
          >
          <v-btn
            :color="submitColor"
            @click="
              createstudent();
              colorColor = '#F44336';
              $emit('close');
            "
            >Submit</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="colorPicker" persistent max-width="max-content">
      <v-card width="max-content">
        <v-color-picker
          v-model="currentColor"
          class="ma-2"
          show-swatches
        ></v-color-picker>
        <v-card-actions>
          <v-btn
            :color="cancelColor"
            @click="
              colorPicker = !colorPicker;
              currentColor = '#F44336';
            "
          >
            Cancel
          </v-btn>
          <v-btn
            :color="submitColor"
            @click="
              colorPicker = !colorPicker;
              colorColor = currentColor;
              currentColor = '#F44336';
            "
            >Submit</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import { BigInt } from 'mysql/lib/protocol/constants/types';
export default {
  props: {
    creatingStudent: {
      type: Boolean,
      default: () => false
    },
    tableId: {
      type: BigInt,
      default: () => null
    }
  },
  data() {
    return {
      creatingstd: true,
      show: false,
      currentColor: '#F44336',
      colorColor: '#F44336',
      colorPicker: false,
      submitColor: 'blue darken-3',
      cancelColor: 'red darken-3',
      createdStudentTeam: 'New Team',
      createdStudentName: 'New Student'
    };
  },
  computed: {},
  mounted() {},
  methods: {
    createstudent() {
      this.$axios
        .post('/create_student', {
          table_id: this.tableId,
          data: {
            name: this.createdStudentName,
            team_name: this.createdStudentTeam,
            team_color: this.colorColor
          }
        })
        .then((answer) => {
          console.log(answer);
          this.$emit('created');
        });
    }
  }
};
</script>
