<template>
  <div>
    <v-dialog v-model="edititem" persistent max-width="max-content">
      <v-card width="350px">
        <v-text-field
          v-model="task"
          counter
          maxlength="12"
          :rules="rules"
          class="pa-2"
        ></v-text-field>
        <v-textarea
          v-model="comment"
          counter="255"
          maxlength="255"
          class="pa-3"
          filled=""
          no-resize
        >
        </v-textarea>
        <v-card-actions>
          <v-btn
            :color="cancelcolor"
            @click="
              edititem = !edititem;
              task = 'New Task';
              comment = 'Your comment';
            "
          >
            Cancel
          </v-btn>
          <v-btn
            :color="submitcolor"
            @click="
              edititem = !edititem;
              edittask(task, comment, taskid);
            "
            >Submit</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="addTaskDialog" persistent max-width="max-content">
      <v-card width="350px">
        <v-text-field
          v-model="task"
          counter
          maxlength="12"
          :rules="rules"
          class="pa-2"
        ></v-text-field>
        <v-textarea
          v-model="comment"
          counter="255"
          maxlength="255"
          class="pa-3"
          filled=""
          no-resize
        >
        </v-textarea>
        <v-card-actions>
          <v-btn
            :color="cancelcolor"
            @click="
              addTaskDialog = !addTaskDialog;
              task = 'New Task';
              comment = 'Your comment';
            "
          >
            Cancel
          </v-btn>
          <v-btn
            :color="submitcolor"
            @click="
              addTaskDialog = !addTaskDialog;
              createTask(comment, task);
            "
            >Submit</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
    <div v-if="tasks == 'no' || tasks == 'nope'">
      <v-row>
        <v-col cols="3">
          <v-card width="300px">
            <v-card-title>Tools</v-card-title>
            <v-card-actions
              ><v-btn
                :color="commandcolor"
                @click="addTaskDialog = !addTaskDialog"
                ><v-icon>mdi-plus</v-icon></v-btn
              ></v-card-actions
            >
          </v-card>
        </v-col>
      </v-row>
    </div>
    <div v-else-if="tasks == null">
      <v-row>
        <v-col v-for="item in loaders" :key="item" cols="4">
          <v-sheet width="300px">
            <v-skeleton-loader
              dark
              type="card-heading, list-item-three-line,actions"
            ></v-skeleton-loader>
          </v-sheet>
        </v-col>
      </v-row>
    </div>
    <div v-else>
      <v-row>
        <v-col v-for="(item, index) in tasks" :key="item.id" cols="3">
          <v-card width="300px" max-height="max-content">
            <v-card-title
              >{{ item.task }}
              <v-spacer></v-spacer>
              <v-btn :color="cancelcolor" fab x-small @click="remove(item.id)"
                ><v-icon>mdi-minus</v-icon></v-btn
              ></v-card-title
            >
            <v-card-text class="pa-2">{{ item.comment }} </v-card-text>

            <v-card-actions class=""
              ><v-btn :color="commandcolor" @click="edit(index)"
                ><v-icon>
                  mdi-pencil-outline
                </v-icon>
              </v-btn></v-card-actions
            >
          </v-card>
        </v-col>
        <v-col cols="3">
          <v-card width="300px" outlined style="background-color: #121212">
            <v-card-title>Tools</v-card-title>
            <v-card-actions
              ><v-btn
                :color="commandcolor"
                @click="addTaskDialog = !addTaskDialog"
                ><v-icon>mdi-plus</v-icon></v-btn
              ></v-card-actions
            >
          </v-card>
        </v-col>
      </v-row>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      tasks: null,
      loaders: [1, 2, 34, 5, 6, 7, 8, 9, 10, 11, 12, 13],
      json: null,
      addTaskDialog: false,
      edititem: false,
      indexofedit: null,
      task: 'New Task',
      comment: 'Your comment',
      taskid: null,
      submitcolor: 'blue darken-3',
      cancelcolor: 'red darken-3',
      commandcolor: 'light-blue',
      rules: [(v) => v.length <= 12 || 'Max 25 characters'],
      reulescomment: [(v) => v.length <= 255 || 'Max 255 characters']
    };
  },
  computed: {},
  mounted() {
    this.$axios
      .get('/get_table_tasks', { params: { id: this.$route.params.id } })
      .then((res) => {
        this.tasks = res.data;
      });
  },
  methods: {
    edit(index) {
      this.edititem = true;
      this.indexofedit = index;
      this.task = this.tasks[index].task;
      this.comment = this.tasks[index].comment;
      this.taskid = this.tasks[index].id;
    },
    edittask(Task, Comment, Id) {
      console.log('fuck');
      this.$axios
        .post('/edit_task', {
          data: {
            id: this.taskid,
            comment: Comment,
            task: Task,
            tableId: this.$route.params.id
          }
        })
        .then((res) => (this.tasks = res.data));
      this.comment = 'Your comment';
      this.task = 'New Task';
    },
    createTask(Comment, Task) {
      this.$axios
        .post('/create_task', {
          data: {
            comment: Comment,
            task: Task
          },
          tableId: parseInt(this.$route.params.id)
        })
        .then((res) => (this.tasks = res.data));
      this.comment = 'Your comment';
      this.task = 'New Task';
    },
    remove(Id) {
      this.$axios
        .post('/delete_task', {
          id: Id,
          tableId: parseInt(this.$route.params.id)
        })
        .then((res) => {
          console.log(res.data);
          this.tasks = res.data;
        });
    }
  }
};
</script>
