<template>
  <div>
    <v-card>
      <v-card-title> You are trying to join {{ teamName }}. </v-card-title>
      <v-btn @click="joinTable"> Join </v-btn>
      <v-btn @click="goBack"> Go back </v-btn>
    </v-card>
  </div>
</template>

<script>
export default {
  data() {
    return {
      teamName: '_TeamName_',
      inviteHash: '0',
      userData: ''
    };
  },
  mounted() {
    // не костыль, извлекаем хеш таблицы
    this.inviteHash = this.$route.fullPath.substr(8);

    // наглым образом взято из admin.vue
    this.$store.dispatch('auth/fetch').then((res) => {
      this.userData = res.data.result;
      console.log(this.userData);
      // console.log(this.userData.name);
    });

    // получение названия группы, к которой пытаемся подключиться
    this.$axios
      .get('/team_name_by_hash', {
        params: { hash: this.inviteHash }
      })
      .then((res) => {
        this.teamName = res.data.name;
      });
    // console.log(this.$route.fullPath.substr(8));
  },
  methods: {
    joinTable() {
      console.log('You joined!');
      console.log(this.inviteHash, this.userEmail);
      this.$axios.post('/add_student_into_table', {
        hash: this.inviteHash,
        userData: this.userData
      });
      this.goBack();
    },
    goBack() {
      console.log('You went back!');
      this.$nuxt.$router.replace({ path: '/' });
    }
  }
};
</script>
