<template>
  <v-app>
    <v-theme-provider light>
      <v-container fluid fill-height class="d-flex justify-center"
        ><nuxt
      /></v-container>
    </v-theme-provider>
  </v-app>
</template>
<script>
export default {
  mounted() {}
};
</script>
