<template>
  <v-layout justify-center align-center>
    <v-card class="elevation-10" style="flex: 0 1 400px">
      <v-card-title class="headline">Register</v-card-title>
      <v-card-text>
        <v-form @submit.prevent="submit">
          <v-alert v-if="alert" :type="alert.type">{{ alert.message }}</v-alert>
          <v-text-field
            type="email"
            v-model="email"
            label="Email"
          ></v-text-field>
          <v-row>
            <v-col>
              <v-text-field v-model="name" label="Name"> </v-text-field>
            </v-col>
            <v-col>
              <v-text-field v-model="surname" label="Surname"> </v-text-field>
            </v-col>
          </v-row>
          <v-text-field
            v-model="password"
            label="Password"
            type="password"
          ></v-text-field>
          <v-text-field
            v-model="confirmPass"
            label="Confirm password"
            type="password"
          ></v-text-field>
          <v-btn
            type="submit"
            :loading="loading"
            :disabled="
              loading ||
                password != confirmPass ||
                email == '' ||
                email == null ||
                password == ''
            "
            >Confirm and log in</v-btn
          >
          <v-btn color="primary" text nuxt to="/login"
            >Log In if you have an account</v-btn
          >
        </v-form>
      </v-card-text>
    </v-card>
  </v-layout>
</template>

<script>
export default {
  layout: 'fullscreen',
  data() {
    return {
      email: '',
      password: '',
      confirmPass: '',
      alert: null,
      loading: false,
      name: '',
      surname: ''
    };
  },
  methods: {
    submit() {
      this.alert = null;
      this.loading = true;
      this.$store
        .dispatch('auth/register', {
          email: this.email,
          password: this.password,
          confirmPass: this.confirmPass,
          name: this.name,
          surname: this.surname
        })
        .then((result) => {
          this.alert = { type: 'success', message: result.data.message };
          this.loading = false;
          this.$router.push('/admin');
        })
        .catch((error) => {
          console.log('error', error.response);
          this.loading = false;
          if (error.response && error.response.data) {
            this.alert = {
              type: 'error',
              message: error.response.data.message || error.response.status
            };
          }
        });
    }
  }
};
</script>
