<template>
  <div>
    <v-card outlined style="border-width:2px; border-color:black">
      <v-card-title class="ml-2">
        Scan to join the _TeamName_ team!
      </v-card-title>
      <v-card-text class="d-flex justify-center">
        <div>
          <qrcode-vue :value="value" :size="size" level="H"></qrcode-vue>
        </div>
      </v-card-text>
    </v-card>
  </div>
</template>

<style></style>
<script>
import QrcodeVue from 'qrcode.vue';
// import sha256 from 'sha256';

export default {
  layout: 'qr',
  data() {
    return {
      value: 'https://vk.com/akoledaev',
      size: 300,
      hash: 0
    };
  },
  components: {
    QrcodeVue
  }
};
</script>
